form(novalidate='')
  h1 Post turnover
  formly-form(model='vm.rental', fields='vm.rentalFields', form='vm.rentalForm')
   button.btn.btn-primary(type='submit', ng-disabled='vm.rentalForm.$invalid') Submit
