.container.col-md-4.col-md-offset-4
  form(novalidate='')
    h1 Post turnover
    formly-form(model='userInput', fields='formFields', form='myForm')
     button.btn.btn-primary(type='submit', ng-disabled='myForm.$invalid', ng-click="onBtnClick()") Post
