#cardproc-wrapper
  .section-title(style="margin-bottom: 5px;") Процессинг карт
  .panel.panel-primary(ng-repeat='card in cards')
    .card-panel-heading.panel-heading
      .card-num Карта {{ card.id }}
      .card-rfid: small RFID {{ card.RFID }}
      .card-activation-time: small активирована {{ card.activatedAt.toDate() | date:'yyyy-MM-dd HH:mm:ss' }}
    .panel-body
      table.table.table-bordered.table-hover.table-condensed.no-border(style="background: white; margin-bottom: 0px")
        tbody
          tr
            th.w25.no-border(style="padding-left: 30px;") Кошелек
            th.w25.no-border.text-right Баланс
            th.w25.no-border.text-right Начало действия
            th.w25.no-border.text-right Конец действия
          tr(ng-repeat='bag in card.bags')
            td.w25.no-border(style="padding-left: 30px;") {{ bag.currency.name }}
            td.w25.no-border.text-right(ng-class="{ animated: bag.wasUpdated, infinite: bag.wasUpdated, flash: bag.wasUpdated, 'table-cell-changed': bag.wasUpdated, 'bg-success': bag.wasUpdated }") {{ bag.balance }}
            td.w25.no-border.text-right {{ bag.activePeriodStart.toDate() | date:'yyyy-MM-dd HH:mm:ss' }}
            td.w25.no-border.text-right {{ bag.activePeriodFinish.toDate() | date:'yyyy-MM-dd HH:mm:ss' }}
    .panel-footer HA-HA-HA
