//=========================================================
// flexbox layout

#wrapper {
  padding: 0;
  margin: 0;

  display: flex;
  display: -webkit-flex;

  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;

  align-items: stretch;
  -webkit-align-items: stretch;

  justify-content: space-between;
  -webkit-justify-content: space-between;

  min-width: fit-content;
}

//**********************
// header

#header {
  flex: 0 0 3em;
  height: 3em;
  line-height: 3em;
  width: 100%;
  background: lightpink;

  display: flex;
  display: -webkit-flex;

  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;

  align-items: center;
  -webkit-align-items: center;

  justify-content: space-between;
  -webkit-justify-content: space-between;
}

#header-logo {
//  background: red;
  flex: none;
}

#header-text {
  font-size: x-large;
  white-space: nowrap;
//  background: green;
  flex: none;
}

#header-right-part {
  min-width: 238px;
//  background: blue;
  flex: none;
  visibility: hidden;
}

// header
//**********************

#content {
  flex: 1;
  min-height: 900px;

  width: 100%;
  background: lightseagreen;

  display: flex;
  display: -webkit-flex;

  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;

  align-items: stretch;
  -webkit-align-items: stretch;

  justify-content: space-around;
  -webkit-justify-content: space-around;
}

#left-part {
  flex: 1;
//  background: lightgreen;
}

#right-part {
  flex: 1;
//  background: red;

  display: flex;
  display: -webkit-flex;

  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;

  align-items: stretch;
  -webkit-align-items: stretch;

  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.right-up {
  flex: 1 1 450px;
  width: 100%;
//  background: green;
  padding: 10px 5px 0px 5px;
}

.right-down {
  flex: 1 1 450px;
  width: 100%;
//  background: blue;
  padding: 0px 5px 0px 0px;

}

#footer  {
  flex: 0 0 1.5em;
  width: 100%;
}

/* Medium screens */
@media screen and (max-width: 801px) and (orientation: portrait),
  screen and (max-width: 1201px) and (orientation: landscape) {

  // disp sections vertically, one after another
  #wrapper, #content, #left-part, #right-part,
  .right-up, .right-down, #footer, #pies-wrapper, #privileges-chart, #cards-chart {
    display: block !important;
  }

  // header
  #header {
    display: block;
    .text-center;
  }
  #header-text {
    font-size: large;
  }
  #header-logo, #header-right-part {
    display: none;
  }

  // card proc - no vert scrollbar
  #card-panels-container {
    height: inherit;
    overflow: inherit;
  }
}

// flexbox layout
//=========================================================

#msg-server-unavailable {
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 26vw;
  min-height: 10vh;
  line-height: 10vh;
  margin: -5vh 0vw 0vh -13vw;
}

//******************************************
// pie charts

#pies-wrapper {
  display: flex;
  display: -webkit-flex;

  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;

  align-items: stretch;
  -webkit-align-items: stretch;

  justify-content: space-between;
  -webkit-justify-content: space-between;

  background: lightcoral;
}

#privileges-chart {
  flex: 1;
  background: orange;
}

#cards-chart {
  flex: 1;
  background: orangered;
}

// pie charts
////******************************************

//=========================================================
// card processing section

#cardproc-wrapper {
  padding: 10px 5px 0px 5px;
}

@media screen and (min-width: 801px) and (orientation: portrait),
screen and (min-width: 1201px) and (orientation: landscape) {
  #card-panels-container {
    height: 85vh;
    overflow: auto;
  }
}

.card-panel-heading {
  display: flex;
  display: -webkit-flex;

  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;

  align-items: center;
  -webkit-align-items: center;

  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.card-num {
  flex: none;
  font-size: 1.3em;
}

.card-rfid {
  flex: none;
}

.card-activation-time {
  flex: none;
}

//-------------------------------------
// latest trans

.card-panel-footer {
  display: flex;
  display: -webkit-flex;

  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;

  align-items: center;
  -webkit-align-items: center;

  justify-content: flex-start;
  -webkit-justify-content: flex-start;

  font-size: 1.1em;
}

.trans-status, .trans-dt, .trans-curr, .trans-oper, .trans-val  {
  flex: none;
  padding-left: 10px;
}

//-------------------------------------

// card processing section
//=========================================================

.section-title {
  font-size: x-large;
  white-space: nowrap;
  .text-center;
  margin-bottom: 5px;
}

//*********************************************************
// pies section

#pies-header {
  display: flex;
  display: -webkit-flex;

  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;

  align-items: center;
  -webkit-align-items: center;

  justify-content: space-between;
  -webkit-justify-content: space-between;

  margin-bottom: 5px;
}

#pies-title {
  flex: auto;
  font-size: x-large;
  white-space: nowrap;
//  background: yellow;
//  padding-left: 20px;
  .text-center;
}

#pies-period-buttons {
  flex: auto;
//  background: yellowgreen;
  .text-right;
}

// pies section
//*********************************************************


///////////////////////////////////////////////////////////
// transactions section

#trans-header {
  display: flex;
  display: -webkit-flex;

  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;

  align-items: center;
  -webkit-align-items: center;

  justify-content: space-between;
  -webkit-justify-content: space-between;

  margin-bottom: 5px;
}

#trans-title {
  flex: auto;
  font-size: x-large;
  white-space: nowrap;
  //  background: yellow;
  //  padding-left: 20px;
  .text-center;
}

#trans-aggr-period-buttons {
  flex: auto;
  //  background: yellowgreen;
  .text-right;
}

// transactions section
///////////////////////////////////////////////////////////
