#wrapper.vw100.vh100
  #header.text-center header
  #content
    #left-part(ui-view="cards")
    #right-part
      img.right-up(src='assets/images/ilta.png', alt='mouse')
      img.right-down(src='assets/images/ilta.png', alt='mouse')
  #footer.text-center footer
