#wrapper.vw100.vh100
  #header.text-center header
  #content
    #left-part(ui-view="cards")
    #right-part
      #right-up(ui-view="events")
      #right-down(ui-view="events")
  #footer.text-center footer
