//=========================================================
// flexbox layout

#wrapper {
  padding: 0;
  margin: 0;

  display: flex;
  display: -webkit-flex;

  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;

  align-items: stretch;
  -webkit-align-items: stretch;

  justify-content: space-between;
  -webkit-justify-content: space-between;

  min-width: fit-content;
}

#header {
  flex: 0 0 2em;
  height: 2em;
  line-height: 2em;
  width: 100%;
  background: lightpink;
  font-size: x-large;

}

#header-text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

#content {
  flex: 1;
  min-height: 900px;

  width: 100%;
  background: lightseagreen;

  display: flex;
  display: -webkit-flex;

  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;

  align-items: stretch;
  -webkit-align-items: stretch;

  justify-content: space-around;
  -webkit-justify-content: space-around;
}

#left-part {
  flex: 1;
  background: lightgreen;
}

#right-part {
  flex: 1;
  background: red;

  display: flex;
  display: -webkit-flex;

  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;

  align-items: stretch;
  -webkit-align-items: stretch;

  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.right-up {
  flex: 1 1 450px;
  width: 100%;
  background: green;
}

.right-down {
  flex: 1 1 450px;
  width: 100%;
  background: blue;
}

#footer  {
  flex: 0 0 1.5em;
  width: 100%;
}

// flexbox layout
//=========================================================

#msg-server-unavailable {
  position: absolute;
  top: 50vh;
  left: 50vw;
  width: 26vw;
  min-height: 10vh;
  line-height: 10vh;
  margin: -5vh 0vw 0vh -13vw;
}

//******************************************
// pie charts

#pies-wrapper {
  display: flex;
  display: -webkit-flex;

  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;

  align-items: stretch;
  -webkit-align-items: stretch;

  justify-content: space-between;
  -webkit-justify-content: space-between;

  background: lightcoral;
}

#privileges-chart {
  flex: 1;
  background: orange;
}

#cards-chart {
  flex: 1;
  background: orangered;
}

// pie charts
////******************************************
