#wrapper.vw100.vh100
  #header.text-center header
  #content
    #left-part(ui-view="cards")
    #right-part
      .right-up(ui-view="pies")
      img.right-down(src='assets/images/ilta.png', alt='mouse')
  #footer.text-center footer
