#wrapper.vw100.vh100
  #header.text-center header
  #content
    #left-part(ui-view="cards")
    #right-part
      //img(src='assets/images/ilta.png', alt='mouse')
      .right-up
        img(src='assets/images/ilta.png', alt='mouse')
      .right-down
        img(src='assets/images/ilta.png', alt='mouse')
  #footer.text-center footer
