#wrapper {
  padding: 0;
  margin: 0;

  display: flex;
  display: -webkit-flex;

  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;

  align-items: stretch;
  -webkit-align-items: stretch;

  justify-content: space-between;
  -webkit-justify-content: space-between;

  min-width: fit-content;
}

#header {
  flex: 0 0 1.5em;
  width: 100%;
  background: lightpink;
}

#content {
  flex: 1;
  min-height: 600px;

  width: 100%;
  background: lightseagreen;

  display: flex;
  display: -webkit-flex;

  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;

  align-items: stretch;
  -webkit-align-items: stretch;

  justify-content: space-around;
  -webkit-justify-content: space-around;
}

#left-part {
  flex: 1;
  background: lightgreen;
}

#right-part {
  flex: 1;
  background: red;

  display: flex;
  display: -webkit-flex;

  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;

  align-items: stretch;
  -webkit-align-items: stretch;

  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.right-up {
  flex: 1 1 300px;
  width: 100%;
  background: green;

  display: flex;
  display: -webkit-flex;

  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;

  align-items: stretch;
  -webkit-align-items: stretch;

  justify-content: space-around;
  -webkit-justify-content: space-around;
}

#piechart1 {
  flex: 1;
  background: orange;
}

#piechart2 {
  flex: 1;
  background: orangered;
}

.right-down {
  flex: 1 1 300px;
  width: 100%;
  background: blue;
}

#footer  {
  flex: 0 0 1.5em;
  width: 100%;
  background: lightgoldenrodyellow;
}
