#wrapper.w100.vh100
  #header
    #header-logo
      a(href="http://sarov-itc.ru/" target="_blank")
        img(width="238" height="32" alt="Лого" src="assets/images/logo.png")
    #header-text Система обработки электронных карт
    #header-right-part Placeholder
  #content(ng-hide='isRestUnavailable')
    #left-part(ui-view="cardproc")
    #right-part
      #my-right-up.right-up(ui-view="pies")
      #my-right-down.right-down(ui-view="transactions")
  footer#footer.text-center Copyright &copy; 2015 &mdash;&nbsp;
    a(href="http://sarov-itc.ru/" target="_blank") ИТЦ Система-Саров
  // Show server unavailable message, if necessary
  #msg-server-unavailable(ng-show='isRestUnavailable')
    alert.text-center(type='danger') Сервер <b>http://cp-prod.corp.sarov-itc.ru</b> недоступен
