#trans-header
  #trans-title Количество операций
  #trans-aggr-period-buttons
    .btn-group
      label.btn.btn-primary(ng-model='aggrPeriod', btn-radio="'day'", ng-change="onAggrPeriodChanged()") День
      //label.btn.btn-primary(ng-model='aggrPeriod', btn-radio="'week'", ng-change="onAggrPeriodChanged()") Неделя
      label.btn.btn-primary(ng-model='aggrPeriod', btn-radio="'month'", ng-change="onAggrPeriodChanged()") Месяц
      label.btn.btn-primary(ng-model='aggrPeriod', btn-radio="'year'", ng-change="onAggrPeriodChanged()") Год
#trans-chart
