#pies-header
  #trans-title Количество транзакций
  #trans-aggr-period-buttons
    .btn-group
      label.btn.btn-primary(ng-model='aggrPeriod', btn-radio="'day'") День
      label.btn.btn-primary(ng-model='aggrPeriod', btn-radio="'week'") Неделя
      label.btn.btn-primary(ng-model='aggrPeriod', btn-radio="'month'") Месяц
      label.btn.btn-primary(ng-model='aggrPeriod', btn-radio="'year'") Год
#trans-chart
