h1 Процессинг карт
#table-wrapper(style="height: 290px; overflow-y: auto;")
  table.table.table-bordered.table-hover.table-condensed(style="background: white; margin-bottom: 0px")
    tbody(ng-repeat='card in cards')
      tr
        th(colspan="3") {{ card.id }}
      tr(ng-repeat='bag in card.bags')
        td(style="padding-left: 30px") {{ bag.name }}
        td(style="text-align: right", ng-class="{ 'danger': bag.wasUpdated }") {{ bag.balance }}
        td(style="text-align: right") {{ bag.activePeriod }}
