ui-layout
  ui-layout-container
    ui-layout(options="{flow : 'column'}")
      ui-layout-container.dashboard-panel
        h1 Процессинг карт
      ui-layout-container.dashboard-panel
        h1 Пассажирооборот
  ui-layout-container
    ui-layout(options="{flow : 'column'}")
      ui-layout-container.dashboard-panel(style="width: 45%")
        ui-layout(options="{flow : 'column'}")
          ui-layout-container.dashboard-panel
            h1 События
          ui-layout-container.dashboard-panel
            h2 Транзакции
      ui-layout-container.dashboard-panel
          h1 Пассажиропоток
