//*******************************************************************
// Dashboard layout classes

/* vertical alignment styles */

.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

/* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}

/* visual styles */

[class*="col-"] {
  padding-top: 10px;
  padding-bottom: 15px;
//  border: 1px solid lightgrey;
  background: #ffffff;
}
.item {
  width: 100%;
  height: 100%;
  border: 1px solid #cecece;
//  padding: 12px 6px;
//  background: #ededed;
//  background: -webkit-gradient(linear, left top, left bottom,color-stop(0%, #f4f4f4), color-stop(100%, #ededed));
//  background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
//  background: -ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
  background: #ffffff;
}

// Dashboard layout classes
//*******************************************************************

//=========================================================
// Correct styles for small screens

@media(max-width:768px) {
  #dashboard {
    width: 640px;
    height: 100vh;
  }

  #table-header-wrapper {
    display: none;
  }
}

//=========================================================


//*********************************************************
// Flex experiment

//.flex-container {
//  padding: 0;
//  margin: 0;
////  border: 1px solid silver;
////  -ms-box-orient: horizontal;
////  display: -webkit-box;
////  display: -moz-box;
////  display: -ms-flexbox;
////  display: -moz-flex;
//  display: -webkit-flex;
//  display: flex;
////  background: lightpink;
//}
//
//.flex-item {
////  background: tomato;
//  padding: 5px;
//  margin: 10px;
//  border: 1px solid silver;
//}

//*********************************************************

#msg-server-unavailable {
  position: fixed;
  top: 60%;
  left: 50%;
  width: 30em;
  height: 18em;
  margin-top: -9em;   /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
}
