.container-fluid
  .row
    .row-same-height.row-full-height
      .col-xs-6.col-xs-height.col-full-height
        .item
          .content(ui-view="cards", style="padding-left: 5px; padding-right: 5px;")
      .col-xs-6.col-xs-height.col-full-height
        .item
          .content(ui-view="turnover")
  .row
    .row-same-height.row-full-height
      .col-xs-3.col-xs-height.col-full-height
        .item
          .content(ui-view="events", style="padding-left: 5px; padding-right: 5px;")
      .col-xs-3.col-xs-height.col-full-height
        .item
          .content(ui-view="transactions", style="padding-left: 5px; padding-right: 5px;")
      .col-xs-6.col-xs-height.col-full-height
        .item
          .content(ui-view="flow")
