#dashboard.container-fluid
  .row
    .row-same-height.row-full-height
      .col-xs-6.col-xs-height.col-full-height
        .item
          .content(ui-view="cards", style="padding-left: 5px; padding-right: 5px;")
      .col-xs-6.col-xs-height.col-full-height
        .item
          .content(ui-view="turnover")
  .row
    .row-same-height.row-full-height
      .col-xs-6.col-xs-height.col-full-height
        .item
          .content(ui-view="events", style="padding-left: 5px; padding-right: 5px;")
      //.col-xs-3.col-xs-height.col-full-height
      //  .item
      //    .content(ui-view="transactions", style="padding-left: 5px; padding-right: 5px;")
      .col-xs-6.col-xs-height.col-full-height
        .item
          .content(ui-view="flow")

// Show server unavailable message, if necessary
#msg-server-unavailable(ng-show='isRestUnavailable')
  alert.text-center(type='danger') Сервер <b>http://cp-prod.corp.sarov-itc.ru</b> недоступен

footer.text-center
  p.copyright Copyright &copy; 2015 &mdash;&nbsp;
    a(href="http://sarov-itc.ru/") ИТЦ Система-Саров

//*********************************************************
// Flex experiment

//#dashboard.vw100.vh100
//  .flex-container.h50
//    .flex-item.w50(ui-view="cards")
//    .flex-item.w50(ui-view="turnover")
//  .flex-container.h50
//    .flex-item.w50(ui-view="events")
//    .flex-item.w50(ui-view="flow")

//*********************************************************

//=============================================================================
// Experiments with the layout

//.vw100.vh100
//  .w50.h100.left(style="background: grey")
//    .w100.h50(ui-view="cards", style="background: red")
//    .w50.h50.left(ui-view="events", style="background: green")
//    .w50.h50.left(ui-view="transactions", style="background: blue")
//  .w50.h100.left(style="background: lightgrey")
//    .w100.h50(ui-view="turnover", style="background: lightgreen")
//    .w100.h50(ui-view="flow", style="background: lightblue")
//=============================================================================
