ui-layout
  ui-layout-container
    ui-layout(options="{flow : 'column'}")
      ui-layout-container.dashboard-panel
        div(ui-view="cards")
      ui-layout-container.dashboard-panel
        div(ui-view="turnover")
  ui-layout-container
    ui-layout(options="{flow : 'column'}")
      ui-layout-container.dashboard-panel(style="width: 45%")
        ui-layout(options="{flow : 'column'}")
          ui-layout-container.dashboard-panel
            div(ui-view="events")
          ui-layout-container.dashboard-panel
            div(ui-view="transactions")
      ui-layout-container.dashboard-panel
        div(ui-view="flow")
